@charset "utf-8";
/*玩物店公共初始化样式*/
html {
  height: 100%;
  display: block;
}
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}
body {
  background-color: rgba(135, 137, 151, 0.1);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  user-drag: none;
  background-attachment: fixed;
  background-color: #f9f9f9;
  color: #4b4d5a;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1;
  overflow-x: hidden;
  position: relative;
  overflow-y: auto;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  word-wrap: break-word;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  display: block;
  outline: 0;
  color: inherit;
}
img {
  display: block;
}
i {
  font-style: normal;
  font-family: font-z;
  display: block;
}
/*设置多次使用样式*/
.bar {
  background-color: #fff;
  height: 80px;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  z-index: 10;
}
.button {
  background-color: #f9f9f9;
  border: 1px solid #d9d9d9;
  color: #9b9b9b;
  border-radius: 27px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  margin: 0;
  outline: 0;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
}
.button:hover {
  background-color: #f3f3f3;
}
.icon {
  font-family: iconfont!important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale;
}
#body {
  padding-top: 80px;
}
/*头部样式*/
/*导航条样式*/
header nav[class*="nav"] {
  background-color: transparent;
  height: auto;
  overflow: visible;
  padding-left: 0;
  padding-right: 0;
  top: 0;
  transition: all .6s;
}
header nav[class*="nav"] .nav-container {
  transition: all .6s;
  width: 948px;
  margin-left: auto;
  margin-right: auto;
}
header nav[class*="nav"] .nav-container .brand {
  background-color: #2b2b2b;
  display: inline-block;
  height: 80px;
  position: relative;
  text-align: center;
  width: 80px;
  transition: all .6s;
}
header nav[class*="nav"] .nav-container .brand .logo {
  width: 22px;
  margin: 14px 0 6px;
  display: inline-block;
}
header nav[class*="nav"] .nav-container .brand .text-logo {
  color: #fff;
  display: block;
  font-size: 12px;
  position: absolute;
  right: 22px;
  top: 46px;
  transition: all .6s;
}
header nav[class*="nav"] .nav-container .nav-list {
  float: right;
  line-height: 80px;
  transition: all .6s;
}
header nav[class*="nav"] .nav-container .nav-list .nav-item {
  line-height: 0;
  transition: all .6s;
  display: inline-block;
  margin: 0 15px;
}
header nav[class*="nav"] .nav-container .nav-list .nav-item .search {
  background-color: #fff;
  border-radius: 27px;
  border: 1px solid #d9d9d9;
  display: block;
  height: 35px;
  line-height: 35px;
  padding-left: 17px;
  width: 225px;
}
header nav[class*="nav"] .nav-container .nav-list .nav-item .search .icon-search01 {
  float: left;
  margin-top: 2px;
  font-family: iconfont;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
}
header nav[class*="nav"] .nav-container .nav-list .nav-item .search .icon-search01::before {
  content: "\E600";
}
header nav[class*="nav"] .nav-container .nav-list .nav-item .search .input-search {
  webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  color: #373d48;
  font-size: 14px;
  outline: 0;
  width: 190px;
}
header nav[class*="nav"] .nav-container .nav-list .nav-item .search::after {
  content: "";
  display: table;
  clear: both;
}
header nav[class*="nav"] .nav-container .nav-list .nav-item .item {
  color: #373d48;
  font-size: 14px;
  font-weight: 300;
  opacity: .6;
}
header nav[class*="nav"] .nav-container .nav-list .nav-item .item:hover {
  opacity: 1;
  font-weight: 400;
}
header nav[class*="nav"] .nav-container .nav-list .nav-item .popover-container {
  text-align: center;
  line-height: 13px;
  padding: 11px 0;
  color: #545454;
}
header nav[class*="nav"] .nav-container .nav-list .nav-item .popover-container .popover {
  margin-top: 25px;
  margin-left: -77.5px;
  width: 207px;
  opacity: 0;
  -webkit-transition: all .4s;
  transition: all .4s;
  visibility: hidden;
  background-clip: padding-box;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #e7e7e7;
  box-shadow: 0 0 4px #e7e7e7;
  font-size: 14px;
  position: absolute;
  z-index: 7;
}
header nav[class*="nav"] .nav-container .nav-list .nav-item .popover-container .popover > .arrow {
  border-width: 11px;
}
header nav[class*="nav"] .nav-container .nav-list .nav-item .popover-container .popover > .arrow,
header nav[class*="nav"] .nav-container .nav-list .nav-item .popover-container .popover > .arrow::after {
  border-color: transparent;
  border-style: solid;
  display: block;
  height: 0;
  position: absolute;
  width: 0;
}
header nav[class*="nav"] .nav-container .nav-list .nav-item .popover-container .popover > .arrow {
  border-bottom-color: #e7e7e7;
  border-top-width: 0;
  left: 50%;
  margin-left: -11px;
  top: -11px;
}
header nav[class*="nav"] .nav-container .nav-list .nav-item .popover-container .popover > .arrow:after {
  border-width: 10px;
  content: "";
}
header nav[class*="nav"] .nav-container .nav-list .nav-item .popover-container .popover > .arrow:after {
  border-bottom-color: #f6f6f6;
  border-top-width: 0;
  content: " ";
  margin-left: -10px;
  top: 1px;
}
header nav[class*="nav"] .nav-container .nav-list .nav-item .popover-container .popover .popover-title {
  background-color: #f6f6f6;
  border-bottom: 1px solid #e7e7e7;
  color: #2b2b2b;
  font-size: 13px;
  line-height: 13px;
  padding: 10px 14px;
  text-align: center;
}
header nav[class*="nav"] .nav-container .nav-list .nav-item .popover-container .popover .popover-content {
  padding: 9px 14px;
}
header nav[class*="nav"] .nav-container .nav-list .nav-item .popover-container .popover .popover-content .popover-container {
  text-align: center;
  line-height: 13px;
  padding: 11px 0;
  color: #545454;
}
header nav[class*="nav"] .nav-container .nav-list .nav-item .popover-container .popover .popover-content .popover-container img {
  display: inline-block;
}
header nav[class*="nav"] .nav-container .nav-list .nav-item .popover-container .popover .popover-content .popover-container .text-image {
  margin-bottom: 10px;
  width: 45px;
}
header nav[class*="nav"] .nav-container .nav-list .nav-item .popover-container .popover .popover-content .popover-container h2 {
  font-weight: 700;
}
header nav[class*="nav"] .nav-container .nav-list .nav-item .popover-container .popover .popover-content .popover-container .text-image-last {
  height: 70px;
  width: 70px;
  border-radius: 4px;
  border: 1px solid #ececec;
  padding: 4px;
  margin: 15px 0 10px;
}
header nav[class*="nav"] .nav-container .nav-list .nav-item .popover-container .popover .popover-content .popover-container p {
  font-size: 10px;
  color: #c0c1c3;
}
header nav[class*="nav"] .nav-container .nav-list li:last-child {
  margin-right: 0;
  line-height: 0;
}
header nav[class*="nav"] .nav-container .nav-list li:last-child .button-dark {
  border-radius: 100%;
  height: 33px;
  line-height: 33px;
  padding: 0;
  width: 33px;
  border: 0;
  transition: box-shadow 0.2s;
  background-color: #2b2b2b;
  color: #fff;
}
header nav[class*="nav"] .nav-container .nav-list li:last-child .button-dark i {
  margin-right: 0;
  color: #fff;
  opacity: 1;
  font-size: 15px;
  vertical-align: middle;
}
header nav[class*="nav"] .nav-container .nav-list li:last-child .button-dark i::before {
  content: "\E603";
}
header nav[class*="nav"] .nav-container::after {
  content: "";
  display: table;
  clear: both;
}
/*中部内容开始*/
main {
  min-height: 800px;
  width: 948px;
  margin-left: auto;
  margin-right: auto;
  font-size: 0;
}
main .slide {
  margin: 12px auto 40px;
}
main .slide::after {
  content: "";
  display: table;
  clear: both;
}
main .slide .swiper-container {
  float: left;
  overflow: hidden;
  height: 80%;
  margin-left: 0;
  margin-right: 2px;
  width: 77%;
  position: relative;
  z-index: 1;
}
main .slide .swiper-container .swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  box-sizing: content-box;
}
main .slide .swiper-container .swiper-wrapper a {
  width: 730px;
  height: 442px;
  background-color: rgba(135, 137, 151, 0.1);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
  position: relative;
}
main .slide .swiper-container .swiper-wrapper a:nth-child(1) {
  background-image: url(../../image/toyshop/1.jpg);
}
main .slide .swiper-container .swiper-wrapper a:nth-child(2) {
  background-image: url(../../image/toyshop/2.jpg);
}
main .slide .swiper-container .swiper-wrapper a:nth-child(3) {
  background-image: url(../../image/toyshop/3.jpg);
}
main .slide .swiper-container .swiper-wrapper a:nth-child(4) {
  background-image: url(../../image/toyshop/4.jpg);
}
main .slide .swiper-container .swiper-wrapper a:nth-child(5) {
  background-image: url(../../image/toyshop/1.jpg);
}
main .slide .swiper-container .swiper-wrapper a:nth-child(6) {
  background-image: url(../../image/toyshop/2.jpg);
}
main .slide .swiper-pagination {
  height: 442px;
  margin-left: auto;
  margin-right: 0;
  overflow: hidden;
  position: static;
  width: auto;
  z-index: 1;
  text-align: center;
}
main .slide .swiper-pagination .bullet {
  height: 109px;
  width: 100%;
  opacity: 1;
  margin-top: 2px;
  position: relative;
  border-radius: 0;
  background: transparent;
  overflow: hidden;
  cursor: pointer;
  display: inline-block;
}
main .slide .swiper-pagination .bullet .icon-view {
  color: #fff;
  font-size: 40px;
  left: 0;
  line-height: 109px;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}
main .slide .swiper-pagination .bullet .icon-view::before {
  content: "\E601";
}
main .slide .swiper-pagination .bullet .bullet-slide {
  background-color: rgba(135, 137, 151, 0.1);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  -webkit-transition: all .3s;
  transition: all .3s;
}
main .slide .swiper-pagination .bullet .slide-bg {
  -webkit-filter: contrast(0.6) blur(5px);
  filter: contrast(0.6) blur(5px);
}
main .slide .swiper-pagination .bullet:nth-of-type(1) .bullet-slide {
  background-image: url(../../image/toyshop/1.jpg);
}
main .slide .swiper-pagination .bullet:nth-of-type(2) .bullet-slide {
  background-image: url(../../image/toyshop/2.jpg);
}
main .slide .swiper-pagination .bullet:nth-of-type(3) .bullet-slide {
  background-image: url(../../image/toyshop/3.jpg);
}
main .slide .swiper-pagination .bullet:nth-of-type(4) .bullet-slide {
  background-image: url(../../image/toyshop/4.jpg);
}
main .slide .swiper-pagination .bullet:nth-child(1) {
  margin-top: 0;
}
main .nav-list {
  margin: 40px auto 18px;
  font-size: 12px;
}
main .nav-list .nav-item {
  display: inline-block;
  margin: 0 15px;
}
main .nav-list .nav-item .icon-list {
  color: #373d48;
  font-size: 15px;
  opacity: .6;
}
main .nav-list .nav-item .icon-list::before {
  content: "\E60A";
}
main .nav-list .nav-item .item {
  color: #373d48;
  font-size: 13px;
  font-weight: 300;
  opacity: .6;
}
main .nav-list .nav-item .active {
  opacity: 1;
  font-weight: 400;
}
main .nav-list .nav-item .button-all {
  color: #4b4d5a;
  font-size: 12px;
  padding: 6px 14px;
}
main .nav-list .nav-item:nth-child(1) {
  margin-left: 0;
}
main .nav-list .pull-right {
  float: right;
  margin-right: 0;
}
main .nav-list::after {
  content: "";
  display: table;
  clear: both;
}
main .nav-shelf {
  border-top: 2px solid #2b2b2b;
  font-size: 14px;
  margin: 18px auto 25px;
  padding-right: 54px;
  position: relative;
}
main .nav-shelf .swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
main .nav-shelf .swiper-container .swiper-wrapper {
  transform: translate3d(0px, 0px, 0px);
  transition-duration: 0ms;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  box-sizing: content-box;
}
main .nav-shelf .swiper-container .swiper-wrapper .swiper-slide {
  text-align: center;
  color: #4b4d5a;
  font-weight: 300;
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
}
main .nav-shelf .swiper-container .swiper-wrapper .swiper-slide span {
  padding: 18px 2px;
  display: inline-block;
  width: auto;
  position: relative;
}
main .nav-shelf .swiper-container .swiper-wrapper .swiper-slide span::after {
  background-color: transparent;
  bottom: 0;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 100%;
  -webkit-transition: all .3s;
  transition: all .3s;
}
main .nav-shelf .swiper-container .swiper-wrapper .swiper-slide:hover {
  font-weight: 700;
}
main .nav-shelf .swiper-container .swiper-wrapper .swiper-slide:hover .slide-text::after {
  background-color: #50e3c2;
  box-shadow: 1.5px -2px 4px rgba(80, 227, 194, 0.27);
}
main .nav-shelf .swiper-container .swiper-wrapper .swiper-slide .slide-text2::after {
  background-color: #50e3c2;
  box-shadow: 1.5px -2px 4px rgba(80, 227, 194, 0.27);
}
main .nav-shelf .swiper-container .swiper-wrapper .swiper-slide2 {
  font-weight: 700;
}
main .nav-shelf .swiper-button {
  background: #373d48;
  border-radius: 2px;
  color: #929292;
  font-size: 12px;
  height: auto;
  left: auto;
  line-height: 1;
  margin-top: -12px;
  padding: 7px 9px;
  top: 25px;
  right: 0;
  text-align: center;
  width: auto;
  z-index: 1;
}
main .nav-shelf .swiper-button:nth-of-type(2) {
  position: absolute;
  cursor: pointer;
}
main .nav-shelf .swiper-button:nth-of-type(3) {
  position: absolute;
  right: 28px;
}
main .nav-shelf .s-button {
  opacity: .35;
  cursor: auto;
  pointer-events: none;
  cursor: pointer;
}
main .feature-list {
  -webkit-animation-duration: .2s;
  animation-duration: .2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  font-size: 14px;
}
main .feature-list .row-1 {
  margin-left: -12px;
  margin-right: -12px;
  overflow: hidden;
}
main .feature-list .row-2 {
  margin-left: -12px;
  margin-right: -12px;
  overflow: hidden;
}
main .row-3 {
  margin-left: -12px;
  margin-right: -12px;
  overflow: hidden;
}
main .product {
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 24px;
  font-size: 14px;
  float: left;
  width: 300px;
  border-radius: 4px;
  box-shadow: 0 0 2.5px rgba(0, 0, 0, 0.1);
  height: 400px;
  position: relative;
  z-index: 1;
}
main .product .icon-view {
  -webkit-transition: all .3s;
  transition: all .3s;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 185px;
  color: #fff;
  font-size: 50px;
  height: 50px;
  opacity: 0;
  width: 50px;
  z-index: 2;
}
main .product .icon-view::before {
  content: "\E601";
}
main .product .background-image {
  background-color: rgba(135, 137, 151, 0.1);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
main .product .thumbnail {
  bottom: 100px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
main .product .thumbnail::before {
  -webkit-transition: all .3s;
  transition: all .3s;
  background-color: rgba(75, 77, 90, 0.1);
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
}
main .product .product-info {
  background-color: #fff;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.16);
  box-sizing: border-box;
  height: 100px;
  left: 0;
  overflow: hidden;
  padding: 22px 17px 15px 25px;
  position: absolute;
  right: 0;
  z-index: 1;
  -webkit-transition: all .3s;
  transition: all .3s;
}
main .product .product-info .name {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  overflow: hidden;
  font-weight: 300;
  line-height: 15px;
  margin-bottom: 5px;
}
main .product .product-info .text-price {
  font-family: Montserrat-Bold;
}
main .product .product-info .text-price::before {
  content: "\FFE5";
  font-size: .9em;
  margin-left: -0.1em;
}
main .product .product-info .original-price {
  color: #999;
  font-size: 11px;
  font-weight: 300;
  position: relative;
  font-family: Montserrat-Bold;
}
main .product .product-info .original-price::after {
  content: "";
  border-bottom: 1px solid;
  position: absolute;
  width: 105%;
  height: 1px;
  -webkit-transform: rotate(6deg);
  transform: rotate(6deg);
  top: 40%;
  left: 0;
}
main .product .product-info .extra-info {
  margin-top: 15px;
  border-top: 1px solid #d9d9d9;
  color: #929292;
  font-size: 12px;
  font-weight: 300;
  line-height: 16px;
  opacity: 0;
  padding: 15px 0 0;
  overflow: hidden;
  max-height: 80px;
  -webkit-transition: all .3s;
  transition: all .3s;
}
main .product .product-info .extra-info .item {
  margin-bottom: 10px;
  padding-left: 10px;
  position: relative;
}
main .product .product-info .extra-info .item::before {
  background-color: #e7e7e7;
  border-radius: 10px;
  content: "";
  display: block;
  height: 3px;
  left: 0;
  position: absolute;
  top: 6px;
  width: 3px;
}
main .product .product-info .button-outline {
  font-size: 10px;
  padding: 4px 10px;
  position: absolute;
  bottom: 15px;
  right: 17px;
  border-color: #d9d9d9;
  background: transparent;
  color: #9b9b9b;
}
main .product .product-info .button-outline:hover {
  background-color: #f3f3f3;
}
main .product .product-info .button-outline .icon-heart {
  font-size: inherit;
  vertical-align: middle;
  line-height: 1;
  margin-right: 6px;
  display: inline-block;
}
main .product .product-info .button-outline .icon-heart::before {
  content: "\E607";
}
main .product .product-info .button-outline .button-text {
  vertical-align: middle;
}
main .product:hover {
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
main .product:hover .icon-view {
  opacity: 1;
}
main .product:hover .product-info {
  height: 185px;
}
main .product:hover .extra-info {
  opacity: 1;
}
main .product:hover .thumbnail::before {
  background-color: rgba(75, 77, 90, 0.9);
}
main .product.col {
  width: 462px;
}
.modal {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: all .4s;
  transition: all .4s;
  opacity: 0;
  visibility: hidden;
}
.modal:after {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgba(15, 15, 15, 0.6);
  content: "";
  height: 100%;
  width: 100%;
}
.modal .modal-panel {
  position: absolute;
  right: 0;
  margin: auto;
  background-color: #fff;
  border-radius: 6px;
  overflow: hidden;
  width: 250px;
  z-index: 1;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  bottom: auto;
  height: auto;
  min-height: 140px;
}
.modal .modal-panel .modal-header {
  box-sizing: border-box;
  color: #4a4a4a;
  font-size: 14px;
  line-height: 1.5;
  padding: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 34px;
  height: auto;
  min-height: 97px;
}
.modal .modal-panel .modal-header .message {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  white-space: normal;
  text-align: center;
}
.modal .modal-panel .modal-footer {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.12);
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
.modal .modal-panel .modal-footer .button {
  box-shadow: 0 -1px 1px rgba(255, 255, 255, 0.12);
  font-weight: 300;
}
.modal .modal-panel .modal-footer .button-cancel {
  background-color: #f3f3f3;
  color: #929292;
}
.modal .modal-panel .modal-footer .button.button-full {
  border-radius: 0;
  border-width: 0;
  display: block;
  font-size: 15px;
  height: 44px;
  line-height: 44px;
  padding: 0;
  border-bottom-width: 1px;
  border-top-width: 1px;
  width: 100%;
}
/*底部内容*/
footer .description-container {
  background-color: #f3f3f3;
  text-align: center;
  padding: 45px 0;
}
footer .description-container .grid {
  width: 948px;
  margin-left: auto;
  margin-right: auto;
}
footer .description-container .grid .col {
  float: left;
  width: 219px;
  height: 155px;
  text-align: center;
}
footer .description-container .grid .col .text-chinese {
  color: #545454;
  font-weight: 700;
  margin-bottom: 7px;
  font-size: 14px;
  display: block;
}
footer .description-container .grid .col .text-english {
  color: #a3a3a3;
  font-size: 13px;
  margin-bottom: 12px;
  display: block;
}
footer .description-container .grid .col .text-english::after {
  border-bottom: 1px solid #979797;
  content: "";
  display: block;
  margin: 12px auto;
  width: 15px;
}
footer .description-container .grid .col .picture {
  width: 80px;
  margin-top: 13px;
  display: inline-block;
}
footer .description-container .grid .col:nth-child(1) {
  margin-right: 12px;
}
footer .description-container .grid .col:nth-child(2) {
  margin-left: 12px;
  margin-right: 12px;
}
footer .description-container .grid .col:nth-child(3) {
  margin-left: 12px;
  margin-right: 12px;
}
footer .description-container .grid .col:nth-child(4) {
  margin-left: 12px;
}
footer .description-container::after {
  content: "";
  display: table;
  clear: both;
}
footer .copyright-container {
  background-color: #545454;
  padding: 38px 0 50px;
}
footer .copyright-container .full-container {
  width: 948px;
  margin-left: auto;
  margin-right: auto;
}
footer .copyright-container .full-container .logo-container {
  color: #fff;
  margin-bottom: 29px;
}
footer .copyright-container .full-container .logo-container .logo {
  margin-right: 10px;
  vertical-align: middle;
  width: 28px;
  display: inline-block;
}
footer .copyright-container .full-container .logo-container .text-logo {
  font-size: 18px;
  vertical-align: middle;
  font-family: AvenirNext-Medium;
}
footer .copyright-container .full-container .link-list {
  margin-bottom: 17px;
}
footer .copyright-container .full-container .link-list .nav-item {
  border-right: 1px solid #979797;
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  padding: 0 18px;
  display: inline-block;
}
footer .copyright-container .full-container .link-list .nav-item .item {
  color: #d9d9d9;
  font-weight: 400;
  font-size: 13px;
  opacity: .6;
}
footer .copyright-container .full-container .link-list .nav-item .item:hover {
  opacity: 1;
}
footer .copyright-container .full-container .link-list .first {
  padding-left: 0;
}
footer .copyright-container .full-container .button-list {
  float: right;
}
footer .copyright-container .full-container .button-list .nav-item {
  margin: 0 11px;
  display: inline-block;
  float: left;
}
footer .copyright-container .full-container .button-list .nav-item .popover-container .popover {
  background-clip: padding-box;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #e7e7e7;
  box-shadow: 0 0 4px #e7e7e7;
  font-size: 14px;
  position: absolute;
  width: 205px;
  z-index: 7;
}
footer .copyright-container .full-container .button-list .nav-item .popover-container .fade-fast-transition {
  width: 108px;
  margin-top: -148px;
  margin-left: -40px;
  -webkit-animation-duration: .4s;
  animation-duration: .4s;
  -webkit-animation-fill-mode: both;
  opacity: 0;
  -webkit-transition: all .4s;
  transition: all .4s;
  visibility: hidden;
  animation-fill-mode: both;
}
footer .copyright-container .full-container .button-list .nav-item .popover-container .fade-fast-transition > .arrow {
  border-width: 11px;
}
footer .copyright-container .full-container .button-list .nav-item .popover-container .fade-fast-transition > .arrow,
footer .copyright-container .full-container .button-list .nav-item .popover-container .fade-fast-transition > .arrow:after {
  border-color: transparent;
  border-style: solid;
  display: block;
  height: 0;
  position: absolute;
  width: 0;
}
footer .copyright-container .full-container .button-list .nav-item .popover-container .fade-fast-transition > .arrow {
  border-bottom-width: 0;
  border-top-color: #e7e7e7;
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
}
footer .copyright-container .full-container .button-list .nav-item .popover-container .fade-fast-transition > .arrow:after {
  border-width: 10px;
  content: "";
}
footer .copyright-container .full-container .button-list .nav-item .popover-container .fade-fast-transition > .arrow:after {
  border-bottom-width: 0;
  border-top-color: #f6f6f6;
  bottom: 1px;
  content: " ";
  margin-left: -10px;
}
footer .copyright-container .full-container .button-list .nav-item .popover-container .fade-fast-transition .popover-content {
  padding: 9px 14px;
}
footer .copyright-container .full-container .button-list .nav-item .popover-container .fade-fast-transition .popover-content .popover-container {
  text-align: center!important;
  display: block;
}
footer .copyright-container .full-container .button-list .nav-item .popover-container .fade-fast-transition .popover-content .popover-container img {
  width: 80px;
  height: 80px;
}
footer .copyright-container .full-container .button-list .nav-item .popover-container .fade-fast-transition .popover-content .popover-container p {
  line-height: 18px;
}
footer .copyright-container .full-container .button-list .nav-item .popover-container:hover .fade-fast-transition {
  opacity: 1;
  visibility: visible;
}
footer .copyright-container .full-container .button-list .nav-item .item-wechat {
  border-radius: 100%;
  display: block;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  color: #545454;
  background-color: #929292;
  font-size: 13px;
  font-weight: 300;
  opacity: .6;
}
footer .copyright-container .full-container .button-list .nav-item .item-wechat i {
  color: inherit;
  font-size: 20px;
}
footer .copyright-container .full-container .button-list .nav-item .item-weibo,
footer .copyright-container .full-container .button-list .nav-item .item-phone {
  border-radius: 100%;
  display: block;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  color: #545454;
  background-color: #929292;
  font-size: 13px;
  font-weight: 300;
  opacity: .6;
}
footer .copyright-container .full-container .button-list .nav-item .icon-weixin::after {
  content: "\E608";
}
footer .copyright-container .full-container .button-list .nav-item .icon-weibo::after {
  content: "\E609";
}
footer .copyright-container .full-container .button-list .nav-item .icon-phone::after {
  content: "\E606";
}
footer .copyright-container .full-container .button-list .nav-item .item-wechat:hover {
  background-color: #50e3c2;
  opacity: 1;
  font-weight: 400;
}
footer .copyright-container .full-container .button-list .nav-item .item-weibo:hover {
  background-color: #ed7372;
  opacity: 1;
  font-weight: 400;
}
footer .copyright-container .full-container .button-list .nav-item .item-phone:hover {
  opacity: 1;
  font-weight: 400;
}
footer .copyright-container .full-container .button-list .last {
  margin-right: 0;
}
footer .copyright-container .full-container .copyright {
  color: #d9d9d9;
  font-size: 10px;
  font-weight: 300;
  line-height: 14px;
  width: 240px;
}
footer .copyright-container::after {
  content: "";
  display: table;
  clear: both;
}
footer .go-top {
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #d9d9d9;
  bottom: 10%;
  margin-top: -70px;
  position: fixed;
  right: 100px;
  z-index: 10;
  -webkit-animation-duration: .4s;
  animation-duration: .4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
footer .go-top .list {
  font-size: 14px;
  position: relative;
  width: 100%;
}
footer .go-top .list .nav-item {
  box-sizing: border-box;
  padding: 5px 5px 0;
}
footer .go-top .list .nav-item .link {
  border-bottom: 1px solid #b8b8b8;
  box-sizing: border-box;
  color: #929292;
  display: block;
  font-size: 17px;
  padding: 8px 8px 13px;
  text-align: center;
}
footer .go-top .list .nav-item .link:hover {
  color: #2b2b2b;
}
footer .go-top .list .nav-item .link .icon-up:before {
  content: "\E602";
}
footer .go-top .list .nav-item .link .icon-kefu {
  font-size: 20px;
}
footer .go-top .list .nav-item .link .icon-kefu::before {
  content: "\E605";
}
footer .go-top .list .nav-item .link .icon-qrcode:before {
  content: "\E604";
}
footer .go-top .list .nav-item .service {
  color: #50e3c2;
}
footer .go-top .list .nav-item .link.last {
  border-bottom: 0;
}
footer .go-top .list .nav-item .link.last:hover + .panel {
  opacity: 1;
  visibility: visible;
}
footer .go-top .list .nav-item .panel {
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #b8b8b8;
  margin: 25px 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: all .4s;
  transition: all .4s;
  visibility: hidden;
}
footer .go-top .list .nav-item .panel-wechat {
  background-color: #fff;
  border-bottom-right-radius: 0;
  border-color: #d9d9d9;
  border-top-right-radius: 0;
  bottom: -1px;
  left: -225px;
  margin: 0;
  position: absolute;
  top: -1px;
  width: 225px;
  padding: 14px 15px;
  box-sizing: border-box;
  padding-top: 30px;
}
footer .go-top .list .nav-item .panel-wechat .image {
  float: left;
  height: 85px;
  width: 85px;
  margin-right: 15px;
}
footer .go-top .list .nav-item .panel-wechat .block {
  float: right;
  margin-top: 10px;
  max-width: 90px;
}
footer .go-top .list .nav-item .panel-wechat .block .name {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}
footer .go-top .list .nav-item .panel-wechat .block .part {
  line-height: 18px;
  color: #a3a3a3;
}
