@charset "utf-8";
/*玩物店公共初始化样式*/
html {
  height: 100%;
  display: block;
}
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}
body {
  background-color: rgba(135, 137, 151, 0.1);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  user-drag: none;
  background-attachment: fixed;
  background-color: #f9f9f9;
  color: #4b4d5a;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1;
  overflow-x: hidden;
  position: relative;
  overflow-y: auto;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  word-wrap: break-word;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  display: block;
  outline: 0;
  color: inherit;
}
img {
  display: block;
}
i {
  font-style: normal;
  font-family: font-z;
  display: block;
}
/*设置多次使用样式*/
.bar {
  background-color: #fff;
  height: 80px;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  z-index: 10;
}
.button {
  background-color: #f9f9f9;
  border: 1px solid #d9d9d9;
  color: #9b9b9b;
  border-radius: 27px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  margin: 0;
  outline: 0;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
}
.button:hover {
  background-color: #f3f3f3;
}
.icon {
  font-family: iconfont!important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale;
}
#body {
  padding-top: 80px;
}
main {
  min-height: 800px;
  width: 948px;
  margin: 0 auto;
  font-size: 0;
}
main .product-detail {
  margin-top: 12px;
}
main .product-detail .product-header {
  position: relative;
}
main .product-detail .product-header:after {
  content: "";
  display: table;
  clear: both;
}
main .product-detail .product-header .big-img {
  position: absolute;
  left: 530px;
  height: 400px;
  width: 400px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .4s,visibility .4s;
  transition: opacity .4s,visibility .4s;
  border: 1px solid #ccccd2;
}
main .product-detail .product-header .big-img img {
  position: relative;
  width: 1040px;
  height: 780px;
}
main .product-detail .product-header #cover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: transparent;
  z-index: 11;
}
main .product-detail .product-header .flag {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0;
  top: 0;
  background: #fede4f;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .4s,visibility .4s;
  transition: opacity .4s,visibility .4s;
}
main .product-detail .product-header .pull-left {
  width: 520px;
  float: left;
}
main .product-detail .product-header .pull-left .product-slide:after {
  content: "";
  display: table;
  clear: both;
}
main .product-detail .product-header .pull-left .product-slide .swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 100%;
}
main .product-detail .product-header .pull-left .product-slide .swiper-container .swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  box-sizing: content-box;
}
main .product-detail .product-header .pull-left .product-slide .swiper-container .swiper-wrapper .swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
  position: relative;
  height: 390px;
  width: 520px;
}
main .product-detail .product-header .pull-left .product-slide .swiper-container .swiper-wrapper .background-image {
  background-color: rgba(135, 137, 151, 0.1);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
main .product-detail .product-header .pull-left .product-slide .swiper-container .swiper-wrapper div:nth-child(1) {
  background-image: url(../../image/detail/1.jpg);
}
main .product-detail .product-header .pull-left .product-slide .swiper-container .swiper-wrapper div:nth-child(2) {
  background-image: url(../../image/detail/2.jpg);
}
main .product-detail .product-header .pull-left .product-slide .swiper-container .swiper-wrapper div:nth-child(3) {
  background-image: url(../../image/detail/3.jpg);
}
main .product-detail .product-header .pull-left .product-slide .swiper-container .swiper-wrapper div:nth-child(4) {
  background-image: url(../../image/detail/4.jpg);
}
main .product-detail .product-header .pull-left .product-slide .swiper-container .swiper-wrapper div:nth-child(5) {
  background-image: url(../../image/detail/5.jpg);
}
main .product-detail .product-header .pull-left .product-slide .swiper-container .swiper-wrapper div:nth-child(6) {
  background-image: url(../../image/detail/1.jpg);
}
main .product-detail .product-header .pull-left .product-slide .swiper-pagination {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  margin-left: auto;
  margin-right: 0;
  overflow: hidden;
  position: static;
  width: auto;
  z-index: 1;
  height: auto;
  text-align: left;
  margin-top: 6px;
}
main .product-detail .product-header .pull-left .product-slide .swiper-pagination .swiper-pagination-bullet {
  cursor: pointer;
  position: relative;
  border-radius: 0;
  background: transparent;
  overflow: hidden;
}
main .product-detail .product-header .pull-left .product-slide .swiper-pagination .bullet {
  width: 76px;
  height: 57px;
  margin: 0 8px 8px 0;
  opacity: 1;
  display: inline-block;
}
main .product-detail .product-header .pull-left .product-slide .swiper-pagination .bullet .bullet-slide {
  -webkit-transition: all .3s;
  transition: all .3s;
  background-color: rgba(135, 137, 151, 0.1);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 76px;
  height: 57px;
}
main .product-detail .product-header .pull-left .product-slide .swiper-pagination .bullet:nth-child(1) .bullet-slide {
  background-image: url(../../image/detail/1.jpg);
}
main .product-detail .product-header .pull-left .product-slide .swiper-pagination .bullet:nth-child(2) .bullet-slide {
  background-image: url(../../image/detail/2.jpg);
}
main .product-detail .product-header .pull-left .product-slide .swiper-pagination .bullet:nth-child(3) .bullet-slide {
  background-image: url(../../image/detail/3.jpg);
}
main .product-detail .product-header .pull-left .product-slide .swiper-pagination .bullet:nth-child(4) .bullet-slide {
  background-image: url(../../image/detail/4.jpg);
}
main .product-detail .product-header .pull-left .product-slide .swiper-pagination .bullet:nth-child(5) .bullet-slide {
  background-image: url(../../image/detail/5.jpg);
}
main .product-detail .product-header .pull-left .product-slide .swiper-pagination .active .bullet-slide {
  -webkit-filter: contrast(0.4);
  filter: contrast(0.4);
}
main .product-detail .product-header .product-info {
  width: 403px;
  height: 415px;
  float: right;
}
main .product-detail .product-header .product-info .product-name {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
  line-height: 30px;
}
main .product-detail .product-header .product-info .product-price {
  color: #373d48;
  font-size: 27px;
  margin-bottom: 30px;
  font-weight: 800;
  font-family: Montserrat-Bold;
}
main .product-detail .product-header .product-info .product-price:before {
  content: "\FFE5";
  font-size: .9em;
  margin-left: -0.1em;
}
main .product-detail .product-header .product-info .product-summary {
  font-size: 13px;
  line-height: 24px;
  border-bottom: 1px solid #ccccd2;
  padding-bottom: 25px;
}
main .product-detail .product-header .product-info .product-summary .icon-yinhao {
  color: #272636;
}
main .product-detail .product-header .product-info .product-summary .icon-yinhao:before {
  content: "\E60E";
}
main .product-detail .product-header .product-info .product-summary .text {
  color: #999;
  margin-left: 10px;
  font-size: 14px;
}
main .product-detail .product-header .product-info .sku-list {
  font-size: 11px;
  margin-top: 24px;
}
main .product-detail .product-header .product-info .sku-list .sku-name {
  color: #929292;
  margin: 8px 0;
}
main .product-detail .product-header .product-info .sku-list .sku-name:after {
  content: "\FF1A";
}
main .product-detail .product-header .product-info .sku-list .sku-item .button-inline-block {
  border-radius: 2px;
  border: 1px solid #ccccd2;
  color: #4b4d5a;
  height: 30px;
  line-height: 30px;
  margin: 0 10px 10px 0;
  min-width: 0;
  padding: 0 12px;
  font-size: 11px;
  display: inline-block;
}
main .product-detail .product-header .product-info .sku-list .sku-item .active {
  background-color: #4b4d5a;
  border-color: #4b4d5a;
  color: #fff;
}
main .product-detail .product-header .product-info .quantity-label {
  font-size: 11px;
  color: #929292;
  margin-bottom: 20px;
}
main .product-detail .product-header .product-info .quantity-label .number-select {
  border-radius: 2px;
  border: 1px solid #ccccd2;
  display: inline-block;
  padding: 0 12px;
  white-space: nowrap;
}
main .product-detail .product-header .product-info .quantity-label .number-select .button {
  box-sizing: content-box;
  height: 30px;
  padding: 0;
}
main .product-detail .product-header .product-info .quantity-label .number-select .button-clear {
  box-shadow: none;
  color: #d9d9d9;
  background: none;
  border-color: transparent;
}
main .product-detail .product-header .product-info .quantity-label .number-select .button-clear .icon-iconfontminus::before {
  content: "\E616";
}
main .product-detail .product-header .product-info .quantity-label .number-select .button-clear .icon-iconfontjiahao::before {
  content: "\E615";
}
main .product-detail .product-header .product-info .quantity-label .number-select .button-clear:hover {
  color: #b8b8b8;
}
main .product-detail .product-header .product-info .quantity-label .number-select .calc-text {
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  margin: 0 20px;
  font-weight: 700;
}
main .product-detail .product-header .product-info .group {
  margin-bottom: 28px;
}
main .product-detail .product-header .product-info .group .button-inline-block {
  border-radius: 0;
  border-width: 0;
  font-size: 15px;
  height: 44px;
  line-height: 44px;
  padding: 0;
  display: inline-block;
  min-width: 125px;
}
main .product-detail .product-header .product-info .group .button-red {
  background-color: #f8504f;
  border-color: #d9d9d9;
  color: #fff;
}
main .product-detail .product-header .product-info .group .button-red:hover {
  background-color: #e34847;
}
main .product-detail .product-header .product-info .group .button-pink {
  background-color: #ff7e7d;
  border-color: #d9d9d9;
  color: #fff;
}
main .product-detail .product-header .product-info .group .button-pink:hover {
  background-color: #ed7372;
}
main .product-detail .product-header .product-info .group .button {
  border-radius: 2px;
  margin-right: 15px;
  width: 180px;
}
main .product-detail .product-header .product-info .share-toolbar {
  font-size: 11px;
  color: #929292;
}
main .product-detail .product-header .product-info .share-toolbar .text-middle {
  vertical-align: middle;
}
main .product-detail .product-header .product-info .share-toolbar .nav-list {
  display: inline-block;
  margin-left: -12px;
  margin-right: 20px;
}
main .product-detail .product-header .product-info .share-toolbar .nav-list .nav-item {
  display: inline-block;
  margin: 0 4px;
}
main .product-detail .product-header .product-info .share-toolbar .nav-list .nav-item .item {
  font-size: 13px;
  border-radius: 100%;
  border: 1px solid;
  font-weight: 300;
  opacity: 1;
  padding: 5px;
}
main .product-detail .product-header .product-info .share-toolbar .nav-list .nav-item .share-weibo {
  border-color: #f8504f;
  color: #f8504f;
}
main .product-detail .product-header .product-info .share-toolbar .nav-list .nav-item .share-weibo .icon-weibo {
  font-size: 15px;
  color: inherit;
  opacity: 1;
}
main .product-detail .product-header .product-info .share-toolbar .nav-list .nav-item .share-weibo .icon-weibo:before {
  content: "\E609";
}
main .product-detail .product-header .product-info .share-toolbar .nav-list li:first-child {
  margin-left: 6px;
}
main .product-detail .product-header .product-info .share-toolbar .nav-list li:last-child .popover-container {
  text-align: center;
}
main .product-detail .product-header .product-info .share-toolbar .nav-list li:last-child .popover-container .popover {
  background-clip: padding-box;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #e7e7e7;
  box-shadow: 0 0 4px #e7e7e7;
  font-size: 14px;
  position: absolute;
  width: 205px;
  z-index: 7;
}
main .product-detail .product-header .product-info .share-toolbar .nav-list li:last-child .popover-container .bottom {
  margin-top: 37px;
  margin-left: -90px;
  width: 207px;
  opacity: 0;
  -webkit-transition: all .4s;
  transition: all .4s;
  visibility: hidden;
}
main .product-detail .product-header .product-info .share-toolbar .nav-list li:last-child .popover-container .bottom .arrow {
  border-width: 11px;
}
main .product-detail .product-header .product-info .share-toolbar .nav-list li:last-child .popover-container .bottom .arrow,
main .product-detail .product-header .product-info .share-toolbar .nav-list li:last-child .popover-container .bottom .arrow:after {
  border-color: transparent;
  border-style: solid;
  display: block;
  height: 0;
  position: absolute;
  width: 0;
}
main .product-detail .product-header .product-info .share-toolbar .nav-list li:last-child .popover-container .bottom > .arrow {
  border-bottom-color: #e7e7e7;
  border-top-width: 0;
  left: 50%;
  margin-left: -11px;
  top: -11px;
}
main .product-detail .product-header .product-info .share-toolbar .nav-list li:last-child .popover-container .bottom .arrow:after {
  border-width: 10px;
  content: "";
}
main .product-detail .product-header .product-info .share-toolbar .nav-list li:last-child .popover-container .bottom > .arrow:after {
  border-bottom-color: #f6f6f6;
  border-top-width: 0;
  content: " ";
  margin-left: -10px;
  top: 1px;
}
main .product-detail .product-header .product-info .share-toolbar .nav-list li:last-child .popover-container .bottom .popover-title {
  background-color: #f6f6f6;
  border-bottom: 1px solid #e7e7e7;
  color: #2b2b2b;
  font-size: 13px;
  line-height: 13px;
  padding: 10px 14px;
  text-align: center;
}
main .product-detail .product-header .product-info .share-toolbar .nav-list li:last-child .popover-container .bottom .popover-content {
  padding: 9px 14px;
}
main .product-detail .product-header .product-info .share-toolbar .nav-list li:last-child .popover-container .bottom .popover-content .popover-container {
  text-align: center;
}
main .product-detail .product-header .product-info .share-toolbar .nav-list li:last-child .popover-container .bottom .popover-content .popover-container .qrcode img {
  width: 98px;
  height: 98px;
  display: inline-block;
}
main .product-detail .product-header .product-info .share-toolbar .nav-list li:last-child .popover-container .share-wechat {
  color: #50e3c2;
  border-color: #50e3c2;
}
main .product-detail .product-header .product-info .share-toolbar .nav-list li:last-child .popover-container .share-wechat .icon-weixin {
  font-size: 15px;
  color: inherit;
  opacity: 1;
}
main .product-detail .product-header .product-info .share-toolbar .nav-list li:last-child .popover-container .share-wechat .icon-weixin::before {
  content: "\E608";
}
main .product-detail .product-header .product-info .share-toolbar .button-outline {
  background: transparent;
  color: #9b9b9b;
  border-color: #d9d9d9;
  font-size: 12px;
}
main .product-detail .product-header .product-info .share-toolbar .button-outline .icon-heart {
  font-size: inherit;
  vertical-align: middle;
  line-height: 1;
  margin-right: 6px;
  display: inline-block;
}
main .product-detail .product-header .product-info .share-toolbar .button-outline .icon-heart::before {
  content: "\E607";
}
main .product-detail .product-header .product-info .share-toolbar .button-outline .button-text {
  vertical-align: middle;
}
main .product-detail .product-body .text-headline {
  border-bottom: 3px solid #d9d9d9;
  color: #373d48;
  font-size: 15px;
  font-weight: 700;
  padding-bottom: 10px;
  margin-top: 73px;
}
main .product-detail .product-body .text-headline span {
  padding-bottom: 9px;
  border-bottom: 3px solid #2b2b2b;
  font-size: 14px;
}
main .product-detail .product-body .row {
  margin: 22px 0;
  font-size: 14px;
}
main .product-detail .product-body .row:after {
  content: "";
  display: table;
  clear: both;
}
main .product-detail .product-body .row .desktop-description {
  width: 640px;
  float: left;
  font-weight: 300;
  font-size: 14px;
  line-height: 25px;
}
main .product-detail .product-body .row .desktop-description img {
  display: block;
  width: 100%;
}
main .product-detail .product-body .row .slide {
  margin-left: 665px;
  color: #999;
  line-height: 25px;
}
main .product-detail .product-body .row .slide .panel-vendor {
  background-color: #efefef;
  border: 1px solid #d9d9d9;
  text-align: center;
  margin-bottom: 45px;
  font-size: 14px;
}
main .product-detail .product-body .row .slide .panel-vendor .panel-vendor-header {
  border-bottom: 1px solid #d9d9d9;
  color: #929292;
  padding: 10px 0;
}
main .product-detail .product-body .row .slide .panel-vendor .panel-vendor-body {
  padding: 39px 20px 46px;
}
main .product-detail .product-body .row .slide .panel-vendor .panel-vendor-body .picture {
  border: 1px solid #d9d9d9;
  height: 70px;
  margin: 0 auto 12px;
  width: 70px;
}
main .product-detail .product-body .row .slide .panel-vendor .panel-vendor-body .background-image {
  background-image: url("../../image/detail/logo.jpg");
  background-color: rgba(135, 137, 151, 0.1);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
main .product-detail .product-body .row .slide .panel-vendor .panel-vendor-body .name {
  color: #373d48;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 30px;
}
main .product-detail .product-body .row .slide .panel-vendor .panel-vendor-body .desc {
  text-align: left;
}
main .product-detail .product-body .row .slide .desc-panel {
  margin: 43px 0;
  padding-bottom: 43px;
  border-bottom: 1px dashed #979797;
}
main .product-detail .product-body .row .slide .desc-panel .desc-header {
  color: #373d48;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 20px;
}
main .product-detail .product-body .row .slide .desc-panel .desc-header .icon-canshu {
  border-radius: 100%;
  background-color: #efefef;
  border: 1px solid #373d48;
  font-size: 9px;
  padding: 9px;
  display: inline;
}
main .product-detail .product-body .row .slide .desc-panel .desc-header .icon-canshu::before {
  content: "\E60C";
}
main .product-detail .product-body .row .slide .desc-panel .desc-header .icon-return {
  border-radius: 100%;
  background-color: #efefef;
  border: 1px solid #373d48;
  font-size: 9px;
  padding: 9px;
  display: inline;
}
main .product-detail .product-body .row .slide .desc-panel .desc-header .icon-return::before {
  content: "\E60B";
}
main .product-detail .product-body .row .slide .desc-panel .desc-header .text-middle {
  vertical-align: middle!important;
}
main .product-detail .product-body .row .slide .desc-panel .desc-body .spec-list {
  font-size: 14px;
  position: relative;
  width: 100%;
}
main .product-detail .product-body .row .slide .desc-panel .desc-body .spec-list .item {
  border: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  border-bottom: 1px solid #e7e7e7;
  box-sizing: border-box;
  position: relative;
}
main .product-detail .product-body .row .slide .desc-panel .desc-body .spec-list .key::after {
  content: "\FF1A";
}
main .product-detail .product-body .row .slide .desc-panel .desc-body .content-headline {
  color: #545454;
}
main .product-detail .product-body .row .slide .desc-panel .desc-body .content-headline::before {
  content: '\B7';
  padding-right: 2px;
}
main .product-detail .product-body .row .slide .desc-panel .desc-body .content-ol {
  list-style: decimal;
}
main .product-detail .product-body .row .slide .desc-panel .desc-body .content-ol li {
  margin-left: 20px;
}
main .product-detail .product-body .row .slide .desc-panel:last-of-type {
  border-bottom: 0;
}
.modal {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: all .4s;
  transition: all .4s;
  opacity: 0;
  visibility: hidden;
}
.modal:after {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgba(15, 15, 15, 0.6);
  content: "";
  height: 100%;
  width: 100%;
}
.modal .modal-panel {
  position: absolute;
  right: 0;
  margin: auto;
  background-color: #fff;
  border-radius: 6px;
  overflow: hidden;
  width: 250px;
  z-index: 1;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  bottom: auto;
  height: auto;
  min-height: 140px;
}
.modal .modal-panel .modal-header {
  box-sizing: border-box;
  color: #4a4a4a;
  font-size: 14px;
  line-height: 1.5;
  padding: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 34px;
  height: auto;
  min-height: 97px;
}
.modal .modal-panel .modal-header .message {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  white-space: normal;
  text-align: center;
}
.modal .modal-panel .modal-footer {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.12);
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}
.modal .modal-panel .modal-footer .button {
  box-shadow: 0 -1px 1px rgba(255, 255, 255, 0.12);
  font-weight: 300;
}
.modal .modal-panel .modal-footer .button-cancel {
  background-color: #f3f3f3;
  color: #929292;
}
.modal .modal-panel .modal-footer .button.button-full {
  border-radius: 0;
  border-width: 0;
  display: block;
  font-size: 15px;
  height: 44px;
  line-height: 44px;
  padding: 0;
  border-bottom-width: 1px;
  border-top-width: 1px;
  width: 100%;
}
